<section class="grid grid-3col">

  <aside class="sidebar">
    <h2>{{ localize 'LODGES.contract' }}</h2>
      {{editor system.details.contract target="system.details.contract" rollData=rollData button=true owner=owner editable=editable}}
  </aside>

  <section class="main grid-span-2">
    <h2>
      {{ localize 'LODGES.records' }}
      <br>
      <small>{{ localize 'LODGES.contacts' }} & {{ localize 'LODGES.places' }}</small>
    </h2>
    {{editor system.details.records target="system.details.records" rollData=rollData button=true owner=owner editable=editable}}
  </section>

</section>
