<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="{{ localize 'LODGES.name' }}"/></h1>
      <div class="resources grid grid-2col">

        <div class="resource flex-group-center">
          <label for="system.details.occupation.value" class="resource-label">{{ localize 'LODGES.occupation' }}</label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="system.details.occupation.value" value="{{system.details.occupation.value}}" data-dtype="String"/>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.details.era.value" class="resource-label">{{ localize 'LODGES.era' }}</label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="system.details.era.value" value="{{system.details.era.value}}" data-dtype="String"/>
          </div>
        </div>

      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="description">{{ localize 'LODGES.description' }}</a>
    <a class="item" data-tab="effects">{{ localize 'LODGES.effects' }}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab description" data-group="primary" data-tab="description">
      {{editor system.description target="system.description" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/lodges/templates/actor/parts/actor-effects.hbs"}}
    </div>

  </section>
</form>

