<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="{{ localize 'LODGES.name' }}"/></h1>
      {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
      use both the "grid" and "grid-Ncol" class where "N" can be any number
      from 1 to 12 and will create that number of columns.  --}}
      <div class="resources grid grid-5col">

        {{!-- "flex-group-center" is also defined in the _grid.scss file
        and it will add a small amount of padding, a border, and will
        center all of its child elements content and text. --}}
        <div class="resource flex-group-center">
          <label for="system.aspects.sociability.value" class="resource-label">{{ localize 'LODGES.sociability' }}</label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="system.aspects.sociability.value" value="{{system.aspects.sociability.value}}" data-dtype="Number"/>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.aspects.combativity.value" class="resource-label">{{ localize 'LODGES.combativity' }}</label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="system.aspects.combativity.value" value="{{system.aspects.combativity.value}}" data-dtype="Number"/>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.aspects.curiosity.value" class="resource-label">{{ localize 'LODGES.curiosity' }}</label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="system.aspects.curiosity.value" value="{{system.aspects.curiosity.value}}" data-dtype="Number"/>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.aspects.creativity.value" class="resource-label">{{ localize 'LODGES.creativity' }}</label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="system.aspects.creativity.value" value="{{system.aspects.creativity.value}}" data-dtype="Number"/>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.aspects.occult.value" class="resource-label">{{ localize 'LODGES.occult' }}</label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="system.aspects.occult.value" value="{{system.aspects.occult.value}}" data-dtype="Number"/>
          </div>
        </div>

      </div>
      <div class="resources grid grid-2col">

        <div class="resource flex-group-center">
          <label for="system.details.title.value" class="resource-label">{{ localize 'LODGES.title' }}</label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="system.details.title.value" value="{{system.details.title.value}}" data-dtype="String"/>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.details.era.value" class="resource-label">{{ localize 'LODGES.era' }}</label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="system.details.era.value" value="{{system.details.era.value}}" data-dtype="String"/>
          </div>
        </div>

      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="description">{{ localize 'LODGES.description' }}</a>
    <a class="item" data-tab="items">{{ localize 'LODGES.items' }}</a>
    <a class="item" data-tab="features">{{ localize 'LODGES.features' }}</a>
    <a class="item" data-tab="effects">{{ localize 'LODGES.effects' }}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab description" data-group="primary" data-tab="description">
      {{editor system.description target="system.description" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
      {{> "systems/lodges/templates/actor/parts/actor-items.hbs"}}
    </div>

    {{!-- Owned Features Tab --}}
    <div class="tab features" data-group="primary" data-tab="features">
      {{> "systems/lodges/templates/actor/parts/actor-features.hbs"}}
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/lodges/templates/actor/parts/actor-effects.hbs"}}
    </div>

  </section>
</form>

