<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'LODGES.name' }}"/></h1>
      <div class="grid grid-5col">
        <div class="resource flex-group-center">
          <label for="system.aspects.sociability.value" class="resource-label">{{ localize 'LODGES.sociability' }}</label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="system.aspects.sociability.value" value="{{system.aspects.sociability.value}}" data-dtype="Number"/>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.aspects.combativity.value" class="resource-label">{{ localize 'LODGES.combativity' }}</label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="system.aspects.combativity.value" value="{{system.aspects.combativity.value}}" data-dtype="Number"/>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.aspects.curiosity.value" class="resource-label">{{ localize 'LODGES.curiosity' }}</label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="system.aspects.curiosity.value" value="{{system.aspects.curiosity.value}}" data-dtype="Number"/>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.aspects.ingenuity.value" class="resource-label">{{ localize 'LODGES.ingenuity' }}</label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="system.aspects.ingenuity.value" value="{{system.aspects.ingenuity.value}}" data-dtype="Number"/>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.aspects.occult.value" class="resource-label">{{ localize 'LODGES.occult' }}</label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="system.aspects.occult.value" value="{{system.aspects.occult.value}}" data-dtype="Number"/>
          </div>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">{{ localize "LODGES.description" }}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{!-- To render inline rolls in a TinyMCE editor, you need to pass the parent actor's (if any) roll data to the rollData prop. --}}
      {{editor system.description target="system.description" rollData=rollData button=true owner=owner editable=editable}}
    </div>

  </section>
</form>
